/*Tyler Lidster*/

body {
	font-family: 'Roboto';
	font-style: normal;
	background-color: hsla(216, 0%, 71%, 1); 
	width: 80%;
	padding: 15px;
	margin: 0px auto;
	border: 10px solid hsla(216, 0%, 19%, 0.9);
    border-radius: 25px;
    box-shadow: 10px 5px 2px #888888;
}
/*Main Heading*/
h1 {
	font-size: 2.5em;
	font-weight: bold;
	line-height: 200%;
	text-align: center;
	text-shadow: 1px 2px #a3a8ba;
	background-color: hsla(214, 24%, 35%, 0.95);
	color: hsla(216, 0%, 85%, 1);
}
/*Sub Heading*/
h2 {
	font-size: 1.5em;
	font-weight: bold;
	background-color: hsla(214, 24%, 35%, 0.95);
	color: #FFF;
}
/*Sub Sub Heading*/
h3 {
	font-size: 1.2em;
	font-weight: bold;
}
/*Paragraph Content*/
p {
	font-size: 1em;
}
/*Top of Page Navigation Links*/
a:link {
    color: hsla(214, 24%, 35%, 0.95);
    text-decoration: none;
}
/*Visited Link*/
a:visited {
    color: #3f5ec0;
}
/*Hover Link*/
a:hover {
    color: #8088a1;
}
/*Active Link*/
a:active {
    color: #264bbf;
}
ul {
	list-style-type: none;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
ul li {
	display: inline;
	margin-right: 25px;
}
/*End Top of Page Navigation Links*/
ol {
	list-style-type: upper-alpha;
}
/*Images*/
img {
	width: 500px;
	height: 375px;
}