/* Tyler Lidster */
/*Contains all H2 headings with the exception of the images - left side of the 2 column layout*/
#content {
	float: left;
	width: 45%;
	margin: 1%;
	padding-top: 5px;
	padding-left: 15px;
    padding-bottom: 5px;
    clear: left;
    background-color: #e5e8ea;
    border: 2px solid #000000;
}
/*Contains h2 heading images and its contents - 
right side of the 2 column layout - 
also creates the gradient background*/
#imagesOfLa {
	float: left;
	width: 45%;
	margin: 1%;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: linear-gradient(#e5e8ea, #fefefe);
    border: 2px solid #000000;

}
/*Creates the non repeating background image/icon*/
#federal {
	background-image: url("../images/1413529449_scales-128.png");
	background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}
/*repeating background image*/
body {
	background-image: url("../images/presence-ii.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Roboto';
	color: #373b47;
	margin: 0 auto;
	width: 90%;
}
/* Unvisited Link */
a:link {
    color: #FFFFFF;
}
/* Visited Link */
a:visited {
    color: #3f5ec0;
}
/* Hover Link */
a:hover {
    color: #8088a1;
}
/* Active Link */
a:active {
    color: #264bbf;
}
/* Los Angeles Heading */
h1 {
    color: #FFFFFF;
    background-color: #373b47;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 2;
    font-family: 'Roboto Condensed';
    text-align: center;
    padding: 5px;
}
/* History / Sports / Government / Images Sub Headings */
h2 {
	color: #FFFFFF;
    background-color: #373b47;
    font-size: 2em;
    font-family: 'Roboto Condensed';
    padding: 5px;
}
/* Federal and state representation Sub heading */
h3 {
	font-family: 'Roboto Condensed';
	font-size: 1em;
    padding: 15px;

}
/* The Article Text */
p {
	
	padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
	color: #373b47;
	font-size: 14px;
}
/* Navigator Links */
ul {
	list-style-type: square;
}
ol {
	color: #373b47;	
}
/* Top of page links */
ul li {
	display: inline-block;
	width: 8%;
	padding-right: 175px;
    border: 1px solid #000000;
	margin: 0 auto;
	color: #FFFFFF;
	background-color: #373b47; 
	border-radius: 5px;
}

/* Gives the images a border */
img { 
   border:10px solid #373b47;
   width: 100%;
}
/******Table*****/
table {
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 1%;
	border-spacing: 0px;
	padding: 5px;
	width: 4%;
	margin-left: 5%;
	font-size: 1em;
}
/***Table Headings***/
th {
	background-color: #373b47;
	padding: 10px;
	text-transform: uppercase;
}
tr {
	padding: 15px;
}
td {
	padding: 5px 5px 5px 5px;
}
/*baseball*/
.baseball {
	text-align: right;
}
.baseball:hover {
	background-color: #C2D1E0;
}
/*football*/
.football {
	background-color: gray;
	text-align: right;
}
.football:hover {
	background-color: #C2D1E0;
}
/*basketball*/
.basketball {
	text-align: right;
}
.basketball:hover {
	background-color: #C2D1E0;
}
/*hockey*/
.hockey {
	background-color: gray;
	text-align: right;
}
.hockey:hover {
	background-color: #C2D1E0;
}
/*soccer*/
.soccer {
	text-align: right;
}
.soccer:hover {
	background-color: #C2D1E0;
}
/*****Form*****/
form {
	display: inline-block;
	background-color: #e5e8ea;
   	padding-top: 5px;
   	padding-left: 15px;
    padding-bottom: 15px;
    background-color: #e5e8ea;
    border: 2px solid #000000;
}
.title {
float: left;
width: 45%;
clear: left;
font-size: 1em;
text-align: left;
}
/***Name***/
input[type="text"] {
	background-color: #FFFFFF;
	width: 45%;
	margin-right: 10px;
}
/***Name Hover***/
input[type="text"]:hover {
	background-color: #879bce;
}
/***Name Focus***/
input[type="text"]:focus {
	background-color: #879bce;
}
/***Email***/
input[type="email"] {
	background-color: #FFFFFF;
	width: 45%;
	margin-right: 10px;
}
/***Email Hover***/
input[type="email"]:hover {
	background-color: #879bce;
}
/***Email Focus***/
input[type="email"]:focus {
	background-color: #879bce;
}
/***Rate This Page***/
input[type="radio"] {
	margin-right: 10px;
}
/*Where Did You Hear About Us***/
input[type="checkbox"] {
	margin-right: 10px;
}
/***Additional Comments***/
textarea {
	background-color: #FFFFFF;
	width: 85%;
	margin-right: 10px;
}
/***Additional Comments Hover***/
textarea:hover {
	background-color: #879bce;
}
/***Additional Comments Focus***/
textarea:focus {
	background-color: #879bce;
}
/***Submit Button***/
input[type="submit"] {
	padding: 5px;
	text-align: center;
	margin: 0px auto;
	background: linear-gradient(#395cc0, #113088);
	color: #FFFFFF;
	border-radius: 2px;
	font-size: 1em;
	width: 25%;
}
/***Submit Button Hover***/
input[type="submit"]:hover {
	background: linear-gradient(#113088, #395cc0);
}
/***Submit Button Focus***/
input[type="submit"]:focus {
	background: linear-gradient(#113088, #395cc0);
}