/* Tyler Lidster */
body {
	font-family: 'Roboto';
	color: #373b47;
	opacity: 0.95;
	box-shadow:2px 2px #a3a8ba inset;
	border-top: 5px solid #000000;
    border-right: 100px solid #000000;
    border-bottom: 5px solid #000000;
    border-left: 100px solid #000000;
    margin: 0px auto;
}
/* Unvisited Link */
a:link {
    color: #FFFFFF;
}
/* Visited Link */
a:visited {
    color: #3f5ec0;
}
/* Hover Link */
a:hover {
    color: #8088a1;
}
/* Active Link */
a:active {
    color: #264bbf;
}
/* Los Angeles Heading */
h1 {
    color: #FFFFFF;
    background-color: #373b47;
    opacity: 0.95;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 2;
    font-family: 'Roboto Condensed';
    text-align: center;
    text-shadow: 1px 2px #a3a8ba;
    padding: 5px;
}
/* History / Sports / Government / Images Sub Headings */
h2 {
	color: #FFFFFF;
    background-color: #373b47;
    opacity: 0.95;
    font-size: 32px;
    line-height: 1;
    font-family: 'Roboto Condensed';
    padding: 15px;
}
/* Federal and state representation Sub heading */
h3 {
	font-family: 'Roboto Condensed';
    height: 100%;
	width: 100%;
    padding: 15px;

}
/* The Article Text */
p {
	margin: 10px auto;
	padding: 15px;
	color: #373b47;
	font-size: 14px;
}
/* Navigator Links */
ul {
	list-style-type: square;
}
ol {
	color: #373b47;
}
/* Top of page links */
ul li {
	display: inline-block;
	padding-top: 5px;
    padding-right: 75px;
    padding-bottom: 5px;
    padding-left: 75px;
	border: 5px solid #373b47;
	margin: 5px;
	color: #FFFFFF;
	background-color: #373b47; 
}

/* Gives the images a border */
img { 
   border:10px solid #373b47;
}